<div class="card" style="width: 18rem;"    >
    <img class="card-img-top" [src]="pais.flags.png" alt="País">
    <div class="card-body">
    <h5 class="card-title">{{ pais.name.official }}</h5>
    <p class="card-text">
    Informacion general
    </p>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Capital: {{ pais.Capital}}</li>
    <li class="list-group-item">Idioma</li>
    <li class="list-group-item">Poblacion: </li>
    </ul>
    <div class="d-grid gap-2">
        <a class="btn btn-primary" [routerLink]="['/detallePais', pais.name.official ]">Detalle</a>
    </div>
    </div>
    </div>